.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .error-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .error-container p {
    font-size: 1.2rem;
    color: #ff0000;
  }