.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background: linear-gradient(40deg, #03d5ff, #ea00ff, #03d5ff, #ea00ff );
  }