
.movie-image {
    width: 150px; 
    height: auto; 
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .movie-details {
    flex: 1; 
  }
  
  .movie-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .movie-subtitle {
    font-size: 16px;
    color: #888;
  }

  .movie-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .noMovies {
    text-align: center;
    padding-top: 50px;
  }

  .back-button {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .back-container {
    display: flex;
    justify-content: center;
  }